@media (min-width: 998px) {
    .dropdown-menu.show {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 600px;
        height: auto;
        margin-top: 20px;
        margin-left: -200%;
        align-items: center;

    }
}