.hover_ProductCardIcon:hover {
    scale: 1.3;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.carousel-style {
    height: 200px !important;
}


.startproductcard_hover :hover {
    scale: 1.2;
    margin-left: 5px;
}

/* .cardproduct:hover .carousel-style {
    scale: 0.5;

} */