/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */

:root {
	--primary-color: #4daf54;
}

/* body {
	background-color: #4daf54;
} */

.card {
	/* overflow: hidden; */
	margin: 120px auto;
	width: 320px;
	height: 400px;
	background-color: #272d40;
	border-radius: 15px;
	padding: 40px 20px;
	color: white;
	position: relative;
	font-size: 18px;
}

.card__img {

	width: 90%;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.imgProductcardv2 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;

}

.card:hover .card__img {
	transform: translateY(-120px);
	/* border-radius: 50%; */



}

.card:hover .card__img .imgProductcardv2 {
	z-index: 10px;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.card__title {
	color: var(--primary-color);
	margin-top: 10px;
	transition: 0.5s;
	text-align: center;
}

.card__price {
	margin-top: 10px;

	font-weight: 600;
	font-size: 26px;
	transition: 0.5s;
	text-align: center;
}

.card:hover .card__title {
	transform: translateY(-90px);
	display: flex;
	align-items: start;
}

.card:hover .card__price {
	transform: translateY(-80px);
	display: flex;
	justify-content: start;
}

.card__size,
.card__color,
.card__action {

	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}

.card__size {
	margin-top: 100px;
}

.card:hover .card__size {
	margin-top: -80px;
}


/* .BottomCard {
	display: none;
}

.card:hover .BottomCard {
	display: block;
} */

.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action {
	transition-delay: 0.2s;
	opacity: 1;
	visibility: visible;
}

.card__size,
.card__color {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.card__size h6,
.card__color h6 {
	font-weight: unset;
	margin-right: 12px;
	color: white;
}

.card__size span {
	padding: 2px 10px;
	background-color: #dadada;
	margin: 0 5px;
	border-radius: 5px;
	color: #272d40;
	cursor: pointer;
}

.card__color span {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

.card__color span.green {
	background-color: green;
}

.card__color span.red {
	background-color: red;
}

.card__color span.black {
	background-color: black;
}

.card__action .button_productcardv2 {
	padding: 10px 20px;
	outline: none;
	border: none;
	background-color: var(--primary-color);
	border-radius: 5px;
	cursor: pointer;
	color: white;
	margin-right: 7px;
	font-weight: 600;
	transition: 0.25s;

}

.card__action .button_productcardv2:hover {
	transform: scale(0.9);
}

.like,
.cart {
	font-size: 25px;
	position: absolute;
	top: 12px;
	left: 20px;
	cursor: pointer;
	z-index: 2;
}

.cart {
	left: unset;
	right: 20px;
}

.hover_ProductCardIconv2 {
	color: white;
}

.hover_ProductCardIconv2:hover {
	scale: 1.5;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}